<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TALARII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  



</head>
<body>
    <header>
        
        
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom border-dark box-shadow">
            <div class="container-fluid">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="#" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <img src="~/img/logo.png">
                    </a>
                </div>

                <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Бренды</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Мужское</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Женское</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Услуги</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Отзывы</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Контакты</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-light me-4">Заказать звонок</button>
                </div>
            </div>
        </nav>

        
      
    


    </header>

            @RenderBody()



<footer class="footer mt-auto">
  <div class=" navbar bg-black navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid ms-5 mt-5 mb-5">
                <div class="text-start text-light col-md-3 mb-2 mb-md-0">
                    <h3>TALARII</h3>
                </div>
                <div class="col-md-3 gx-3">
                    <h5>Продукт</h5>
                    <ul class="nav flex-column">
                        <li><a href="#" class="nav-link px-2 text-white">Партнёрам</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Доставка и оплата</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Обмен и возврат</a></li>
                    </ul>
                </div>
                <div class="col-md-3 gx-3">
                    <h5>Помощь</h5>
                    <ul class="nav flex-column">
                        <li><a href="#" class="nav-link px-2 text-white">Таблица размеров</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Видеообзоры</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">База знаний</a></li>
                    </ul>
                </div>
                <div class="col-md-3 gx-3">
                    <h5>Документы</h5>
                    <ul class="nav flex-column">
                        <li><a href="#" class="nav-link px-2 text-white">Политика конфиденциальности</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Договор оферты</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">И.П. Бойков</a></li>
                    </ul>
                </div>
            
        </div>
  </div>
</footer>


    
</body>
</html>
