@{
    ViewData["Title"] = "TALARII";
}


<div class="album py-5">
    <div class="container d-flex flex-nowrap">

        <div class="d-flex flex-column flex-shrink-0 p-1 " style="width: 280px;">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Брэнды</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column ">
                
                <li>
                    <btn  class="w-75 btn btn-sm text-black btn-outline-light p-2">
                        
                        Nike
                    </btn>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Adidas
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Reebok
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Vans
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Jordan
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Puma
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        New balance
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Champion
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        THE NORTH FACE
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Asics
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Format
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Balenciaga
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Gucci
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Versage
                    </a>
                </li>
            </ul>
            <hr>
            
        </div>

        <div id="TBody" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div id="cardListItem" class="col">
                <div class="card shadow-sm">
                    <img  class="bd-placeholder-img card-img-top" style="height: 325px; width: auto; overflow: hidden" src="$Link"></img>
                    <div class="card-body">
                        <h5 class="card-text">$Brand $Name</h5>
                        <p class="card-text">$Price Р</p>
                        <div class="d-flex justify-content-end align-items-center">
                            
                                <select class="form-select form-select-sm p-2 me-3" style="width: 50%" id="Size">

                                <option value="def">Размеры</option>

                                <option value="41">41</option>

                                <option value="42">42</option>

                                <option value="43">43</option>

                                <option value="44">44</option>

                                <option value="45">45</option>

                                </select>
                                
                                <button id="Basket" value="$Id" type="button" class="btn btn-sm btn-outline-warning p-2">В корзину</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    //document.cookie = "TALARII=1234";
    
    function readCookie(name) {

	var name_cook = name+"=";
	var spl = document.cookie.split(";");
	
	for(var i=0; i<spl.length; i++) {
	
		var c = spl[i];
		
		while(c.charAt(0) == " ") {
		
			c = c.substring(1, c.length);
			
		}
		
		if(c.indexOf(name_cook) == 0) {
			
			return c.substring(name_cook.length, c.length);
			
		}
		
	}
	
	return null;
    }

    
    if(readCookie('TALARII') != null)
    {
        //$.ajax({
        //        url: "/Home/GetCard",
        //        type: "Get",
        //        success: function (json) {

        //            $.each(json, function () {

        //                addRow(this.id, this.name, this.brand, this.link, this.price);

        //            });

        //        }
        //    });
    }
    else
    {
        document.cookie = "TALARII="+Math.floor(Math.random() * 9999);
        
    }
    function did(id) { return document.getElementById(id); }

    var cardListItem;

    cardListItem = did('cardListItem').outerHTML;

    did('cardListItem').outerHTML = '';

    $(document).ready(async function () {

        GetCard();

        // получение карточек

        function GetCard() {

            did('TBody').innerHTML = '';

            $.ajax({
                url: "/Home/GetCard",
                type: "Get",
                success: function (json) {

                    $.each(json, function () {

                        addRow(this.id, this.name, this.brand, this.link, this.price);

                    });

                }
            });

        }

        // через эту функцию можно добавить сотрудника
        function addRow(IdRow, NameRow, BrandRow, LinkRow, PriceRow) {

            $('#TBody:last-child').append(cardListItem
                .replace('$Id', IdRow)
                .replace('$Name', NameRow)
                .replace('$Brand', BrandRow)
                .replace('$Link', LinkRow)
                .replace('$Price', PriceRow)
            );

        }

        // Добавить в корзину
        $(document).on("click", "#Basket", async function () {

            var count = did('Count').innerHTML;
            count = +count + 1;
            did('Count').innerHTML = count;
            
            var modelid = $(this).val();
          
            var cookie = readCookie('TALARII');

            $.ajax({
                url: "/Home/Basket",
                data: { 'modelid': modelid, 'cookie': cookie },
                type: "POST",
                success: function () {

                    

                }
            });

        });


    });
</script>