

<div>
    <div class="container ">
        <div class="row justify-content-end">
            <div class="col-4 text-white" style="position: absolute; padding-top: 5%">
                <h3>Роберт Бойков</h3>
                <span class="fs-4 text-muted border-bottom border-light">Создатель проекта TALARII</span>
                <p>Привет! Я Роберт и являюсь основателем компании TALARII</p>
                <p></p>
                <p>TALARII - российский интернет-магазин молодежной обуви, одежды и аксессуаров. Мы работаем на рынке "сникеров" уже более 5 лет. Сначала это были локальные продажи для себя и своих близких, затем все это переросло в интернет-магазин с широким ассортиментом.</p>
                <p></p>
                <p>На нашем сайте представлена обувь как для каждодневной ходьбы, так и для занятия профессиональным спортом. Мы отличаемся от многих других магазинов похожей тематики тем, что у нас вы получите лучшее качество по привлекательной цене!</p>
                <p></p>
                <p>Мы очень дорожим своей репутацией, поэтому любую пару Вы можете обменять, без объяснения причины, в течении 14 дней, при сохранности внешнего вида товара и упаковки.</p>
                <p></p>
                <p></p>
                <p>e-mail:<a href="robert.boikov@yandex.ru" style="color:red"> robert.boikov@yandex.ru</a></p>
                <p>Группа ВК:<a href="https://vk.com/boyro" style="color:red"> https://vk.com/boyro</a></p>
                <p>Телефон: +7(928)-373-74-38</p>
                <p>WhatsApp/Telegram: +7(928)-373-74-38</p>
            </div>
        </div>
    </div>
    <img style="width: 100%" src="~/img/Contacts.jpg">
</div>