@{
    ViewData["Title"] = "TALARII";
}


<div>
    <div class="container ">
    <div class="row " >
        <div class="col-5 text-white" style="position: absolute; padding-top: 25%">
          <h3>Продаём кроссовки по всему миру</h3>
          <span class="fs-5 text-muted">Пройди опрос и мы с точностью определим кроссовки, которые созданы именно для тебя</span>
          <div class="pt-4">
              <button class="btn btn-warning pt-2 pb-2 ps-5 pe-5">Пройти</button>
          </div>
          
        </div>    
    </div>
    </div>
    <img style="width: 100%" src="~/img/Jordan.jpg">
</div>


<div class="container">
    
    

    <div class="album py-5 mb-5 mt-5">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card" >
                    <div class="p-2">
                    <svg class="bd-placeholder-img card-img-top" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	                 width="50px" height="50px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <path fill="#231F20" d="M32.001,2.484c0.279,0,0.463,0.509,0.463,0.509l8.806,18.759l20.729,3.167L47,40.299L50.541,62
	                    l-18.54-10.254L13.461,62l3.541-21.701L2.003,24.919l20.729-3.167L31.53,3.009C31.53,3.009,31.722,2.484,32.001,2.484 M32.001,0.007
	                    c-0.775,0-1.48,0.448-1.811,1.15l-8.815,18.778L1.701,22.941c-0.741,0.113-1.356,0.632-1.595,1.343
	                    c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657l-3.378,20.704c-0.124,0.756,0.195,1.517,0.822,1.957
	                    C12.653,63.877,13.057,64,13.461,64c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25
	                    c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657
	                    c0.523-0.537,0.703-1.321,0.465-2.031c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.812,1.157
	                    C33.481,0.455,32.776,0.007,32.001,0.007L32.001,0.007z"/>
                    </svg>  
                    <div class="card-body">
                        <h4>Качественные модели</h4>
                        <p class="card-text">Перед покупкой, каждая пара проверяеться нами лично на брак</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" >
                    <div class="p-2">
                    <svg class="bd-placeholder-img card-img-top" width="50px" height="50px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000000"><path d="M32 20c-6 0-12 0-12-6a6 6 0 0 1 6-6c6 0 6 8 6 12z"/><path d="M32 20c6 0 12 0 12-6a6 6 0 0 0-6-6c-6 0-6 8-6 12z"/><polyline points="12 32 12 56 52 56 52 32"/><rect x="8" y="20" width="48" height="12"/><line x1="32" y1="20" x2="32" y2="56"/></svg>
                    <div class="card-body ">
                        <h4>Подарки</h4>
                        <p class="card-text">Каждому кто купил пару кроссовок, дарим классные хлопковые носки</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" >
                    <div class="p-2">
                    <svg class="bd-placeholder-img card-img-top" fill="#000000" width="50px" height="50px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <title>message-lines</title>
                    <path d="M30 1.25h-28c-0.414 0-0.75 0.336-0.75 0.75v0 22c0 0.414 0.336 0.75 0.75 0.75h7.25v5.25c0 0.292 0.167 0.545 0.411 0.668l0.004 0.002c0.096 0.050 0.21 0.080 0.331 0.080 0.001 0 0.003 0 0.004 0h-0c0.17-0 0.326-0.057 0.452-0.152l-0.002 0.001 7.8-5.85h11.75c0.414-0 0.75-0.336 0.75-0.75v0-22c-0-0.414-0.336-0.75-0.75-0.75v0zM29.25 23.25h-11.25c-0.17 0-0.326 0.057-0.452 0.152l0.002-0.001-6.8 5.1v-4.5c-0-0.414-0.336-0.75-0.75-0.75h-7.25v-20.5h26.5zM6 9.75h20c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0h-20c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0zM6 16.75h10c0.414 0 0.75-0.336 0.75-0.75s-0.336-0.75-0.75-0.75v0h-10c-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75v0z"></path>
                    </svg>  
                    <div class="card-body">
                        <h4>Поможем с выбором</h4>
                        <p class="card-text">Свяжитесь с нами и мы выберем то что вам подойдёт</p>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="album py-5 mb-5">
        <h1 class="text-center gy-5">БРЕНДЫ</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3333-3061-4066-b164-393833366331/-/resize/320x/-/format/webp/8060_yeezy.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3630-6238-4339-b063-336330666663/-/resize/320x/-/format/webp/1_nike.png" ></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3831-3965-4831-b966-656162616361/-/resize/320x/-/format/webp/2_adidas.png"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3764-6538-4630-a364-643935363931/-/resize/320x/-/format/webp/3_reebok.png"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild6361-3133-4335-a336-346437656435/-/resize/320x/-/format/webp/2847_vans.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3931-6234-4961-b433-613731656562/-/resize/320x/-/format/webp/59_air-jordan.png"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3562-6135-4561-b962-313935633139/-/resize/320x/-/format/webp/2850_puma.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3763-6361-4935-a535-356165313863/-/resize/320x/-/format/webp/3358_new-balance.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild6539-6530-4666-b639-663962396539/-/resize/320x/-/format/webp/6879_champion.png"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild6339-6337-4434-a232-353361666631/-/resize/320x/-/format/webp/6900_the-north-face.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3934-6164-4330-a132-396636666331/-/resize/320x/-/format/webp/3359_asics.png"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild3631-3762-4138-b430-396632343831/-/resize/320x/-/format/webp/12794_fila.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild6230-3465-4530-a231-656463386131/-/resize/320x/-/format/webp/12956_balenciaga.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild6532-3538-4139-a135-653137346563/-/resize/320x/-/format/webp/13553_gucci.jpg"></img>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="height: 100%">
                    <img src="https://thumb.tildacdn.com/tild6236-3138-4035-b934-303061656235/-/resize/320x/-/format/webp/38760_versace.png"></img>
                </div>
            </div>
        </div>
    </div>

   
    <div class="text-center mb-5">
        <h3 class="fw-bold mb-2">Почему мы ?</h1>
        <p class=" fs-4 mb-5 gy-5">
            Каждый день мы упорно работаем, чтобы сделать жизнь наших клиентов лучше и счастливее
        </p>
    </div>
   
    

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 ">
      <div class="col">
        <div class="row p-2 d-flex flex-column h-75">

            
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
              <div class="text-white text-shadow-1">

                
                    <small style="position: absolute">Наш ассортимент постоянно пополняется крутыми кроссовками, среди которых ты точно найдёшь свою жемчужину</small>
                  
              </div>
              <img style="height:100%; width:100%" src="https://static.tildacdn.info/tild3262-3465-4061-a230-643633363033/marathonschnuerung.jpg">
            </div>
            
            

        </div>

        <div class="row p-2 d-flex flex-column h-25">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                
                    <small>Наш ассортимент постоянно пополняется крутыми кроссовками, среди которых ты точно найдёшь свою жемчужину.</small>
                  
              </div>
            </div>
        </div>

      </div>

      <div class="col">
        <div class="row p-2">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="pt-5 mt-5 mb-4 d-flex align-items-center">
                    <small>Наш ассортимент постоянно пополняется крутыми кроссовками, среди которых ты точно найдёшь свою жемчужину.</small>
                  </li>
                </ul>
              </div>
            </div>
        </div>

        <div class="row p-2">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                <ul class="d-flex list-unstyled mt-auto">
                  <li class="pt-5 mt-5 mb-4 d-flex align-items-center">
                    <small>Наш ассортимент постоянно пополняется крутыми кроссовками, среди которых ты точно найдёшь свою жемчужину.</small>
                  </li>
                </ul>
              </div>
            </div>
        </div>

      </div>

      <div class="col">
        <div class="row p-2">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="pt-5 mt-5 mb-4 d-flex align-items-center">
                    <small>Наш ассортимент постоянно пополняется крутыми кроссовками, среди которых ты точно найдёшь свою жемчужину.</small>
                  </li>
                </ul>
              </div>
            </div>
        </div>

        <div class="row p-2">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                <ul class="d-flex list-unstyled mt-auto">
                  <li class="pt-5 mt-5 mb-4 d-flex align-items-center">
                    <small>Наш ассортимент постоянно пополняется крутыми кроссовками, среди которых ты точно найдёшь свою жемчужину.</small>
                  </li>
                </ul>
              </div>
            </div>
        </div>

      </div>

    </div>
  
    
</div>

